body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
		margin:0;
		padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
body,html{
	background: #eeeeee;
	height: 1261px;
	height: 100%;
	overflow: hidden;
	text-align: center;
}

.box{
	width:400px; 
	height:485px;
	background:#fff;
	margin:100px auto 0;
	border-radius: 10px;
	border:1px solid #d6d6d6;
	box-shadow: 0px 0px 3px 3px #e2e2e2;
	padding-top: 40px;
	position: relative;
}
.box img{
	height: 50px;
}
.box input{
	display: block;
	font-size: 14px;
	color:#757575;
	height:25px;
	width: 323px;
	margin-left: 38px;
	margin-top: 28px;
	border:none;
	border-bottom:1px solid #bbc8cc;
	outline: none
}
.box #spBt{
	font-size: 12px;
	color:#d33253;
	position:absolute;
	top:158px;
	left: 38px;
}
.box .sub{
	margin-top: 38px
}
.box .imgas{
	width: 24px;
	height: 18px;
	position: absolute;
	right: 40px;
	top: 190px;
	cursor: hand;
	cursor: pointer;
}
.box .imgas img{
	width: 24px;
	height: 18px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.box ul{
	width: 323px;
	height: 43px;
	padding-top: 12px;
	position: relative;
	margin-left: 38px;
	text-align: left;
	vertical-align: middle;
}
.box ul li{
	text-indent: 23px;
	font-size: 12px;
	color: #000;
	line-height: 16px;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 0px 2px;
}
.box .btna{
	width: 321px;
	height:41px;
	border-radius: 8px;
	background-position: 0px 38px;
	margin:auto;
	background-image: url(../img/yin.jpg);
	background-repeat: repeat-x;
	margin-top: 40px;
	margin-bottom: 26px;
}
.box .btna .btn{
	width: 321px;
	height:38px;
	border-radius: 4px;
	border:1px solid #cecece;
	background: #ecf0f3;
	font-size: 14px;
	color: #0091fa;
	cursor: hand;
	cursor: pointer;
	outline: none
}
.box .p p{
	font-size: 12px;
	color: #b9b9b9;
	line-height: 17px;
}
.box .p p a{
	color: #0091ff;
	text-decoration: underline;
}
.box .cla{
	font-size:12px; 
	color:#515151;
	text-decoration:underline;
	float: left;
	margin:38px 0 0 37px;
}

.pl{
	font-size:12px; 
	color:#c6bfcc;
	line-height: 12px;
	margin-top: 34px;
}