@charset "UTF-8";
body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help; }

q:before, q:after {
  content: ''; }

/* 重置表单元素 */
legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 hr */
hr {
  border: none;
  height: 1px; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll; }

/*  浮动  */
.fl {
  float: left; }

.fr {
  float: right; }

/*  清除浮动  */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden; }

a:hover {
  text-decoration: none; }

body {
  background: #f6f6f6; }

h2 {
  font-size: 20px;
  color: black;
  font-weight: 100;
  line-height: 35px;
  border-bottom: 1px solid #ebe6e6;
  background-image: url(../img/bei.jpg);
  background-repeat: no-repeat;
  background-position: 0px 33px;
  text-indent: 5px; }

.cartMain {
  position: relative;
  width: 1200px;
  min-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 0px 100px;
  min-height: 210px; }
  .cartMain .cartMain_hd {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #3c3c3c; }
    .cartMain .cartMain_hd .cartTop {
      height: 50px; }
      .cartMain .cartMain_hd .cartTop .list_chk {
        width: 80px;
        text-indent: 30px; }
        .cartMain .cartMain_hd .cartTop .list_chk label {
          position: absolute;
          left: 10px;
          top: 19px;
          margin: 0; }
      .cartMain .cartMain_hd .cartTop .list_con {
        width: 312px;
        text-indent: 140px; }
      .cartMain .cartMain_hd .cartTop .list_info {
        padding: 0;
        text-indent: 15px; }
  .cartMain .cartBox {
    width: 100%;
    margin-bottom: 15px; }
    .cartMain .cartBox .shop_info {
      position: relative;
      width: 100%;
      height: 38px;
      background-color: #fff;
      line-height: 38px;
      vertical-align: baseline; }
      .cartMain .cartBox .shop_info .all_check {
        position: relative;
        float: left;
        width: 30px;
        height: 38px; }
        .cartMain .cartBox .shop_info .all_check input[type="checkbox"] {
          position: absolute;
          z-index: 0;
          left: -20px;
          top: -20px; }
        .cartMain .cartBox .shop_info .all_check .shop {
          position: absolute;
          top: 13px; }
      .cartMain .cartBox .shop_info .shop_name {
        float: left; }
    .cartMain .cartBox .order_content {
      border: 1px solid #ccc; }
      .cartMain .cartBox .order_content a {
        display: block; }
  .cartMain .order_lists {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #e7e7e7; }
    .cartMain .order_lists li {
      float: left;
      height: 100%; }
    .cartMain .order_lists .list_chk {
      position: relative;
      width: 50px; }
      .cartMain .order_lists .list_chk input[type="checkbox"] {
        position: absolute;
        z-index: 0;
        left: 20px;
        top: 55px; }
      .cartMain .order_lists .list_chk #all {
        position: absolute;
        z-index: 1;
        left: 15px;
        top: 15px; }
      .cartMain .order_lists .list_chk label {
        margin: 20px 0 0 24px; }
    .cartMain .order_lists .list_con {
      width: 342px; }
      .cartMain .order_lists .list_con .list_img {
        width: 90px;
        height: 90px;
        margin-top: 20px;
        float: left; }
        .cartMain .order_lists .list_con .list_img img {
          width: 100%;
          vertical-align: top; }
      .cartMain .order_lists .list_con .list_text {
        vertical-align: middle;
        text-align: center;
        line-height: 129px; }
        .cartMain .order_lists .list_con .list_text a {
          color: #3c3c3c; }
    .cartMain .order_lists .list_info {
      width: 252px;
      box-sizing: border-box;
      padding: 20px 0; }
      .cartMain .order_lists .list_info p {
        color: #9c9c9c;
        line-height: 90px;
        margin-left: 15px; }
    .cartMain .order_lists .list_price {
      width: 130px; }
      .cartMain .order_lists .list_price .price {
        margin-top: 20px;
        line-height: 90px;
        font-family: Verdana,Tahoma,arial;
        color: #3c3c3c;
        font-weight: bold; }
    .cartMain .order_lists .list_amount {
      width: 120px; }
      .cartMain .order_lists .list_amount .amount_box {
        margin-top: 55px;
        width: 77px;
        height: 25px;
        position: relative; }
        .cartMain .order_lists .list_amount .amount_box input {
          width: 39px;
          height: 23px;
          line-height: 15px;
          border: 1px solid #aaa;
          color: #343434;
          text-align: center;
          padding: 4px 0;
          background-color: #fff;
          z-index: 2;
          position: absolute;
          left: 18px;
          float: left; }
        .cartMain .order_lists .list_amount .amount_box a {
          float: left;
          height: 23px;
          width: 17px;
          border: 1px solid #e5e5e5;
          background: #f0f0f0;
          text-align: center;
          line-height: 23px;
          color: #444;
          position: absolute;
          top: 0; }
        .cartMain .order_lists .list_amount .amount_box .reduce {
          left: 0; }
        .cartMain .order_lists .list_amount .amount_box .reSty {
          color: #cbcbcb; }
        .cartMain .order_lists .list_amount .amount_box .reSty:hover {
          border-right: none;
          border-color: #e5e5e5;
          text-decoration: none;
          color: #cbcbcb; }
        .cartMain .order_lists .list_amount .amount_box .plus {
          border-left-color: transparent;
          right: 0; }
    .cartMain .order_lists .list_sum {
      width: 140px; }
      .cartMain .order_lists .list_sum .sum_price {
        line-height: 90px;
        margin-top: 20px;
        font-family: Verdana,Tahoma,arial;
        color: #ff0000;
        font-weight: bold; }
    .cartMain .order_lists .list_op {
      width: 164px; }
      .cartMain .order_lists .list_op .del {
        margin-top: 20px;
        line-height: 90px; }
  .cartMain .bar-wrapper {
    width: 1200px;
    height: 50px;
    position: fixed;
    bottom: -1px;
    z-index: 99;
    background: #e5e5e5; }
    .cartMain .bar-wrapper .bar-right {
      float: right;
      color: #3c3c3c; }
      .cartMain .bar-wrapper .bar-right strong {
        color: #f40; }
      .cartMain .bar-wrapper .bar-right .piece {
        float: left;
        min-width: 110px;
        margin-right: 20px;
        height: 50px;
        line-height: 50px; }
        .cartMain .bar-wrapper .bar-right .piece .piece_num {
          display: inline-block;
          padding: 0 10px;
          font-weight: 700;
          font-size: 18px;
          font-family: tohoma,arial; }
      .cartMain .bar-wrapper .bar-right .totalMoney {
        float: left;
        min-width: 100px;
        height: 50px;
        line-height: 50px; }
        .cartMain .bar-wrapper .bar-right .totalMoney .total_text {
          float: right;
          font-weight: 400;
          font-size: 20px;
          font-family: Arial;
          vertical-align: middle;
          margin-right: 10px;
          margin-left: 15px; }
      .cartMain .bar-wrapper .bar-right .calBtn {
        float: left; }
        .cartMain .bar-wrapper .bar-right .calBtn a {
          display: block;
          width: 120px;
          height: 50px;
          color: #fff;
          background: #B0B0B0;
          cursor: not-allowed;
          font-size: 22px;
          letter-spacing: 5px;
          text-decoration: none;
          line-height: 50px;
          text-align: center;
          border-radius: 2px; }
        .cartMain .bar-wrapper .bar-right .calBtn a.btn_sty {
          background: #f40;
          cursor: pointer; }

.order_lists:last-child {
  border-bottom: none; }

.order_lists .list_con .list_text a:hover {
  color: #ff873e;
  text-decoration: underline; }

.order_lists .list_amount .amount_box a:hover {
  border-color: #ff873e;
  text-decoration: none;
  color: #ff873e;
  z-index: 3; }

.model_bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none; }

.my_model {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -200px;
  z-index: 9999;
  width: 360px;
  height: 120px;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  padding: 20px;
  background: #fff; }
  .my_model .title {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 700;
    margin-bottom: 20px; }
    .my_model .title .closeModel {
      float: right;
      cursor: pointer; }
  .my_model p {
    line-height: 10px; }
  .my_model opBtn {
    margin-top: 20px; }
    .my_model opBtn a {
      width: 58px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      display: inline-block;
      margin-right: 10px;
      font-weight: 700; }
  .my_model .dialog-sure {
    background: #52a0e5;
    color: #fff;
    border: 1px solid #52a0e5;
    display: inline-block;
    width: 55px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 3px; }
  .my_model .dialog-close {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #3c3c3c;
    display: inline-block;
    width: 55px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
    border-radius: 3px; }

/*header*/
.header {
  width: 100%;
  height: 60px;
  background: black;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px; }

.head {
  width: 500px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  padding-top: 13px; }
  .head a {
    font-size: 14px;
    color: #ababad;
    line-height: 33px;
    transition: all .7s; }
    .head a img {
      width: 118px;
      height: 35px; }

.head a:hover {
  color: #fff; }

.headright {
  width: 155px;
  height: 60px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  position: relative; }
  .headright a {
    color: #fff;
    font-size: 14px;
    line-height: 60px;
    position: relative; }
  .headright .span {
    width: 16px;
    height: 16px;
    background: #b0bec5;
    border-radius: 50%;
    font-size: 8px;
    color: #333;
    font-weight: 600;
    text-align: center;
    position: absolute;
    right: -10px;
    top: 14px; }

/*footer*/
.footertop {
  clear: both;
  width: 100%;
  height: 155px;
  background: white;
  border-bottom: 2px solid #dddede; }
  .footertop .top {
    width: 1080px;
    height: 155px;
    margin: auto;
    display: flex;
    justify-content: space-around; }
    .footertop .top .sectiona {
      width: 200px;
      height: 45px;
      background: #fff;
      margin-top: 55px; }
      .footertop .top .sectiona .smo {
        float: left;
        display: inline-block;
        width: 33px;
        height: 33px;
        background-image: url(../img/footer.png);
        background-repeat: no-repeat;
        background-size: 129px 33px;
        margin-top: 7px; }
      .footertop .top .sectiona .smo1 {
        background-position: -64px 0px; }
      .footertop .top .sectiona .smo2 {
        background-position: 1px 0px; }
      .footertop .top .sectiona .smo3 {
        background-position: -31px 0px; }
      .footertop .top .sectiona .smo4 {
        background-position: -98px 0px; }
      .footertop .top .sectiona a {
        display: inline-block; }
        .footertop .top .sectiona a p {
          font-size: 16px;
          color: #666666;
          float: left;
          line-height: 45px;
          margin-left: 14px; }
        .footertop .top .sectiona a .pl {
          font-size: 20px;
          line-height: 16px;
          margin-top: 6px;
          color: #666666; }
        .footertop .top .sectiona a span {
          font-size: 12px;
          color: #666666;
          margin-left: 15px; }

.footerbot {
  width: 100%;
  height: 337px;
  background: #fff;
  position: relative;
  clear: both; }
  .footerbot .mid {
    width: 1080px;
    height: 195px;
    margin: auto;
    padding-top: 44px; }
    .footerbot .mid .footerleft {
      width: 792px;
      height: 167px;
      display: flex;
      float: left; }
      .footerbot .mid .footerleft .box {
        width: 170px;
        height: 167px; }
        .footerbot .mid .footerleft .box b {
          display: block;
          font-size: 14px;
          line-height: 14px;
          color: #2b2d32;
          margin-bottom: 22px; }
        .footerbot .mid .footerleft .box a {
          display: block;
          font-size: 14px;
          line-height: 31px;
          color: #56585c; }
    .footerbot .mid #footerright {
      width: 160px;
      height: 38px;
      border: 1px solid #dddede;
      border-radius: 4px;
      float: right;
      cursor: hand;
      cursor: pointer;
      font-size: 14px;
      color: #444444;
      line-height: 14px;
      padding-top: 13px;
      padding-left: 37px; }
      .footerbot .mid #footerright .san {
        float: right;
        margin-top: 2px;
        margin-right: 6px;
        border: 6px solid transparent;
        border-top-color: #000; }
  .footerbot .foot {
    width: 1080px;
    height: 98px;
    border-top: 1px solid #d6d6d6;
    margin: auto;
    margin-top: 45px;
    text-align: center;
    color: #d6d6d6; }
    .footerbot .foot p {
      font-size: 14px;
      color: #2b2d32;
      margin-top: 16px; }
    .footerbot .foot a {
      width: 100px;
      font-size: 14px;
      color: #2082d0;
      line-height: 50px;
      margin: 14px 0px 0 0px;
      display: inline-block; }
  .footerbot #fudong {
    width: 158px;
    height: 115px;
    border-right: 1px solid #d7d7d7;
    position: absolute;
    right: 91px;
    top: 84px;
    text-align: center;
    border-radius: 6px;
    box-shadow: -4px 3px 3px #c9c9c9;
    border-top: 1px solid #e5e5e5;
    display: none; }
  .footerbot a {
    display: block;
    width: 158px;
    height: 38px;
    font-size: 14px;
    line-height: 38px;
    color: #383d43; }

.footerbot #fudong a:first-child {
  border-bottom: 1px solid #d7d7d7; }
